In [1]:
print("hello")

hello

In [1]:
print("First line")

First line

In [6]:
print(3+2)

5

In [3]:
print("first python program")

first python program

In [4]:
print("Second line)

SyntaxError: unterminated string literal (detected at line 1) (4211742807.py, line 1)

In [5]:
print "Hi" # this syntax is valid in 2.x version but no in 3.x version

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (825041210.py, line 1)

In [6]:
# -> used for comments

In [7]:
""" Multi line 
comment """

' Multi line \ncomment '

In [9]:
# comment1
# comment2
# comment3
# select that text / lines and Cnt+/ to add # on multiple lines

In [11]:
#variable
a = 10
a

10

In [13]:
#check data type
#python is self typing language, it will identify type of data automatically
type(a)

int

In [1]:
a = 10
b = "adkuhwuijr bniwbew"
print(a,b)

10 adkuhwuijr bniwbew

In [2]:
a = 45
b = "ar"
c, d = 12, "wkdb"  # Defining variable in one line
print(a,b,c,d)

45 ar 12 wkdb

In [3]:
type(b)

str

In [4]:
type(c)

int

In [5]:
a,b,c,d # output will be tupple type if withought print

(45, 'ar', 12, 'wkdb')

In [6]:
a =1.6

In [7]:
type(a) # float

float

In [12]:
print(True+True+True+False+True)
print(False-True+True)

4
0

In [13]:
True / False

ZeroDivisionError: division by zero

In [14]:
n = 45+ 6j

In [15]:
type(n)

complex

In [16]:
n

(45+6j)

In [19]:
n.real # to get real part of n

45.0

In [20]:
n.imag # to gate imaginary part of n

6.0

In [21]:
1+"arf"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
str(1)+"arf"

'1arf'

In [7]:
"1"+"arf" # example of strong type casting

'1arf'

In [4]:
1+1.0 # self upcasting, as float will occupy more space, it will up cast the final result

2.0

In [6]:
"arf"*2

'arfarf'

In [8]:
"arf" * "arf"

TypeError: can't multiply sequence by non-int of type 'str'

In [11]:
a = input("enter a integer")

In [12]:
a

'asdjb'

In [16]:
#Q1 : take a ineger input from user
a = int(input("Enter integer a"))
b = int(input("Enter integer b"))
c = int(input("Enter integer c"))
d = (a+b)/c
print(d)
complex_number = 5+6j
e = d+complex_number
print(e)
print(f"{e}"+"arif")

2.0
(7+6j)
(7+6j)arif

In [17]:
cplx = complex(input())

In [18]:
cplx

(2+3j)

In [19]:
a = 2+cplx

In [20]:
a

(4+3j)

In [29]:
a = int(input("enter number less than 34"))

In [30]:
if a<34 :
    print("Value is less than 34")
else:
    print("not less than 34")

not less than 34

In [36]:
sal = int(input("enter your salary"))
if 1000 <= sal:
    print("buy a car")
elif 1000 > sal >=500:
    print("buy a bike")
elif 500 > sal >= 100:
    print("buy nothing")
else:
    print("savings")

buy a bike