# Notes - Variables

In [2]:
# in jupiter notebook last line will be printed or stored, any one will happen.

In [3]:
"hi"

'hi'

In [4]:
# any non numerical value should be in quotes.

In [5]:
name = "srk"

In [10]:
del name  # delets variable
print(name)

NameError: name 'name' is not defined

In [12]:
name = "SRK"
print(name)

SRK

In [13]:
id(name) # gives you the address of the object

132069576486960

In [14]:
# all fundamental deta types are immutable
# immutable : we can not modify the value in the original object.
# example : int, float, string, boolean. if a = 10 and then you give a = 20, it will save 10 in one address, and when you give 20, it will delete value 10 for variable a and then assign 20 to variable a on new address.
# mutable : we can modify the value in the original object
# example : list, dictionary, set, like a = 10 and a = 20, then 20 will replace the 10 and address of the object will be same.

In [15]:
#immutable example
a = 10
id(a)

132070025201128

In [16]:
#now let's change the value of a 
a = 20
id(a)

132070025201448

In [17]:
# so if you check, address of a has changed.

In [18]:
#mutable example
a = [1,2,2,3]
id(a)

132069159558336

In [19]:
#now, we have assigned list to variable a
#now let's modify list
a[0] = 10 #change first value of list from 1 to 10
print(a)
id(a)

[10, 2, 2, 3]

132069159558336

In [20]:
#so, if you see, address of list a is same.

In [ ]:
#string